@media only screen and (min-width: 600px) {
    body {
      background-color: #FFFFFF;
    }
/* Navbar */
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding:5px 20px;
        position:sticky;
        top:0;
        background-color: #5cc6e9;
    }
    .link-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-icons{
        
        padding:5px 10px;
    }
  /* Nav End */
  /* first section start */
  .firstSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .first-content,.first-img{
    width:45%;
  }
  .first-content{
    height: 100%;
  }
  .first-img{
    height:70%;
    background-size: cover;
  }
  /* first section end */
    /* Second Start */
    .secondSection{
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: end;
      height: 90vh;
    }
    .text-end{
      margin-right: 25px;
    }
    /* Second End  */
    /* Third Section Start  */
    .forthSection{
      height: 100vh;
    }
    .thirdImgsection{
      display: flex;
      flex-wrap: wrap;
    }

/* Third Section End  */
/*Four Section Start  */
.forthSection{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.forthSection img{
  z-index: -2;
  
}
/*Four Section End  */
/*fifth section start  */
.fifthSection{
  margin: 100px 0px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;

}
/*fifth section end  */
/*sixth section Start  */
.playerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

/*sixth section End  */



    .gamesContainer {
      width:100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
  }
  .grid-item {
    text-align: center;
    display: flex;
    margin-right:50px;
}

  }
