.playSectionContainer{
    margin:200px 50px;
}
.playImg{
    position:absolute;
    left:-20%;
    bottom:-20%;
    /* overflow:hidden; */
}
.playImg2{
    position:absolute;
    right:-20%;
    bottom:-20%;
    /* overflow: hidden; */

   
}
.shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
